altgraph==0.16.1
astroid==2.3.1
attrs==19.2.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
dohq-artifactory==0.5.241
future==0.18.0
idna==2.8
isort==4.3.21
jsonschema==3.0.2
lazy-object-proxy==1.4.2
mccabe==0.6.1
pefile==2019.4.18
PyInstaller==3.5
pylint==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
